# =========================================
# .gitignore для проекта УП.02
# Автор: Ваше ФИО
# Дата: 01.10.2026
# =========================================

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Виртуальные окружения
venv/
env/
ENV/
.venv/

# Настройки редакторов
.vscode/
.idea/
*.swp

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Базы данных
*.db
*.sqlite
*.sqlite3
*.db-journal

# Секретные данные
credentials.txt
.env
*.key

# Временные файлы
*.tmp
*.bak

#Файлы Exel
~$*.xlsx

#Jupyter Notebook
.ipynb_checkpoints/

